<ul class="ui-tabs clearfix">
  <li>
    <a 
      [ngClass]="{'active': isPublished}"
      class="active" [routerLink]="['/admin/myposts/']" [queryParams]="{status: 'published'}">PUBLISHED</a>
  </li>
  <li>
    <a
      [ngClass]="{'active': isDraft}"
      [routerLink]="['/admin/myposts/']" [queryParams]="{status: 'draft'}">DRAFT</a>
  </li>
</ul>
<ng-container *ngFor="let post of posts">
  <post-card [post]="post"></post-card>
</ng-container>
<span class="floating-plus">
  <a routerLink="/admin/post/new" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </a>
</span>