<div class="row">
  <div class="col-md-6 ml-md-auto mr-md-auto">
    <h3 class="text-center">SIGN UP</h3>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <mat-form-field>
            <input formControlName="email" type="email" matInput placeholder="Email" required>
            <mat-error *ngIf="email.errors">
              <p *ngIf="email.errors.required"><i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
              <p *ngIf="!email.errors.required && email.errors.email"><i class="fa fa-exclamation-circle"></i> Please enter correct email address.</p>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="name" type="text" matInput placeholder="Full Name" required>
            <mat-error *ngIf="name.errors">
              <p *ngIf="name.errors.required"><i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
              <p *ngIf="name.errors.minlength"><i class="fa fa-exclamation-circle"></i> Please enter at least {{name.errors.minlength.requiredLength}} characters.</p>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password" required>
            <mat-error *ngIf="password.errors">
              <p *ngIf="password.errors.required"><i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
              <p *ngIf="password.errors.minlength"><i class="fa fa-exclamation-circle"></i> Short passwords are easy to guess. Try one with at least {{password.errors.minlength.requiredLength}} characters.</p>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="password_again" type="password" matInput placeholder="Re type password" required>
            <mat-error *ngIf="password.errors">
              <p *ngIf="passwordAgain.errors.required"><i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
              <p *ngIf="passwordAgain.errors.minlength"><i class="fa fa-exclamation-circle"></i> Short passwords are easy to guess. Try one with at least {{passwordAgain.errors.minlength.requiredLength}} characters.</p>
            </mat-error>
          </mat-form-field>
          <p class="text-muted small">By Sign up in via any of the options below, you agree to our Terms of Service.</p>
          <button mat-raised-button color="primary" disabled>Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>