<div class="row mr-t-lg ">
    <div class="col ml-md-auto mr-md-auto">
      <div class="card">
        <div class="card-body profile-container">
          <div class="profile-container-left">
            <img src="/assets/images/user.png">
          </div>
          <div>
            <div class="info">
                <h2>rohit kumar gautam</h2>
                <p title="email"><i class="fa fa-envelope-o"></i> mygmforsm@gmail.com</p>
                <p title="Website"><i class="fa fa-wpforms"></i> <a href="https://github-rohit.github.io/bio/" target="_blank">https://github-rohit.github.io/bio/</a></p>
                <p title="Location"><i class="fa fa-map-marker "></i> India</p>
            </div>
            <div class="about-me">
                <h4 _ngcontent-c2="">ABOUT ME</h4>
                <p>A UI designer and developer, with 9+ years’ experience in visualizing, designing and implementing beautiful Internet products, with focus on enhanced user experience. A self-motivated and passionate designer and developer, I pride myself in delivering world-class web products that are second to none.</p>
            </div>
            <div class="social-media">
                <h4 _ngcontent-c2="">SOCIAL MEDIA</h4>
                <p><a href=""><i class="fa fa-facebook-f"></i> facebook</a> </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>