<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="post">
        <div class="ui-post-page">
          <h2>{{post.title}}</h2>
          <div class="byline small">
            <i>BY
              <a [routerLink]="['/author/', post.created_by, post.author[0].name | replaceWithDash]">{{post.author[0].name}}</a>
            </i>
            <i class="fa fa-circle"></i>
            {{post.created_on | date: 'MMM d, y'}}
          </div>
          <hr>
          <div class="description">
            <img *ngIf="post.image" [src]="post.image">
            <div [innerHTML]="post.description"></div>
          </div>
        </div>
        <post-comment [post-id]="postId"></post-comment>
      </div>
    </div>
    <div class="col-md-3">
      <app-category></app-category>
    </div>
  </div>
</div>